/* Framework */
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #86878b !important;
	font-weight: 400;
	background: #fff;
	padding-top: 50px;
	width: 100%;
	overflow-x: hidden;
}

/*scroll style*/
body::-webkit-scrollbar {
  width: 0.7em;
  background: #333
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #333;
  box-shadow: inset 0 0 6px #333;
}

body::-webkit-scrollbar-thumb {
  background: #ffbb06;
  outline: 1px solid #fff;
  border-radius: 5px;
  width: 0.5em
}

h2,
h3 {
	font-family: 'Raleway', sans-serif;
}
h2 {
	font-size: 36px;
	text-transform: uppercase;
	font-weight: normal;
	text-align: center;
}
h2::after {
	content: '';
	width: 80px;
	height: 3px;
	background-color: #ff8b38;
	display: block;
	margin: 20px 0;
	font-weight: 400;
	margin: 30px auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000;
}
i,
button {
	cursor: pointer;
}
.button-transparent {
	background-color: transparent;
	border: none;
	border: 2px solid #fff;
	padding: 8px 30px;
	font-size: 16px;
	margin-top: 30px;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.button-transparent:hover {
	background-color: #fff;
	color: #000;
}

.button-orange {
	background-color: #ff8b38;
	color: #fff;
	padding: 12px 30px;
	font-size: 16px;
	margin-top: 30px;
	border: none;
	border-radius: 2px;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.button-orange:hover {
	background-color: #000;
}
.brand {
	color: #fff !important;
	font-size: 35px;
	font-weight: bold;
}
.brand span {
	color: #ff8b38;
	font-weight: normal;
}

.right-side {
	text-align: right;
}
section {
	padding: 110px 0;
}

input,
textarea {
	display: block;
	margin: auto;
	border: none;
	border-bottom: 1px solid #d6d6d6;
	margin-top: 40px;
	width: 300px;
	padding: 10px 10px;
}
input:focus,
input:hover,
textarea:focus,
textarea:hover {
	border-bottom: 1px solid #ff8b38;
}

/* Navbar */
.navbar {
	background-color: #000;
	padding: 10px 0;
}

.navbar .navbar-nav li {
	padding-left: 48px;
}
.navbar .navbar-nav li a {
	font-size: 14px;
	line-height: 48px;
	padding: 0;
}
.navbar-inverse .navbar-nav a.active,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a.active {
	color: #ff8b38 !important;
}
/* header */
.header {
	background: url('../images/banner.jpg') no-repeat center center;
	background-size: cover;
	color: #fff;
	font-weight: normal;
}
.header .brand {
	font-size: 65px;
	margin-bottom: 10px;
}
.header h2 {
	color: #fff;
	text-align: left;
}
.header h2::after {
	background-color: #fff;
	margin: 30px 0;
}

.header p {
	color: rgba(255, 255, 255, 0.8);
}

.header form {
	width: 360px;
	background-color: #fff;
	float: right;
}
.header form h3 {
	background-color: #f4f4f4;
	color: #333333;
	font-size: 20px;
	font-weight: 700;
	padding: 20px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin: 0;
}
.header form span {
	color: #ff8b38;
}

.header form input:focus,
.header form input:hover {
	border-bottom: 1px solid #ff8b38;
}
.header form input[type='submit'] {
	background-color: #ff8b38;
	color: #fff;
	font-weight: bold;
	width: 100%;
	padding: 20px;
	border-bottom: none;
}
.header form input[type='submit']:hover {
	background-color: #000;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

/* Social Media */
.social-media {
	padding: 30px 0;
}
.social-media h3 {
	font-weight: 600;
	margin: 0;
}

.social-media i {
	color: #ccc;
	padding: 10px 0 10px 35px;
}
.social-media a:hover i {
	color: #ff8b38;
}

/* Section Tab */
.tabs {
	background-color: #f5f5f5;
}
.tabs .tabs-links {
	margin-top: 10px;
}
.tabs li a {
	color: #fff;
	background-color: #333;
	border: 1px solid #fff;
	display: block;
	line-height: 112px;
	height: 112px;
	width: 112px;
	text-align: center;
	font-weight: bold;
}
.tabs .tabs-links li.active a,
.tabs .tabs-links li:hover a {
	background-color: #ff8b38;
}

.tab {
	display: none;
}
.tab.active {
	display: block;
}
.tabs .tab .width40 {
	width: 40%;
	float: left;
}
.tabs .tab .width60 {
	width: 60%;
	float: left;
	padding-left: 20px;
}
.tabs .tab h3 {
	font-weight: 700;
	margin: 0;
	margin-bottom: 30px;
	font-family: 'Open Sans', sans-serif;
}

/* Sublist */

.sub-list h3,
.picture h3 {
	font-size: 20px;
	font-weight: 700;
}

.sub-list h3::after,
.picture h3::after {
	content: '';
	width: 80px;
	height: 3px;
	background-color: #ff8b38;
	display: block;
	margin: 20px 0;
	font-weight: 400;
}

.sub-list h3 ~ p {
	padding-bottom: 20px;
}

.sub-list img {
	padding-top: 30px;
	width: 100%;
}

.sub-list i {
	color: #ff8b38;
	border: 2px solid #ff8b38;
	border-radius: 50%;
	padding: 10px;
	margin-top: 13px;
}

.sub-list h5 {
	font-weight: bold;
}

/* Picture Section*/
.picture {
	background-color: #f5f5f5;
}
.picture img {
	width: 100%;
}
/* Awesome Section*/

.awesome p {
	margin-bottom: 70px;
}

.awesome i {
	color: #ff8b38;
	border: 2px solid #ff8b38;
	border-radius: 50%;
	height: 80px;
	width: 80px;
	line-height: 80px;
	font-size: 30px;
	cursor: default;
}

/* Prices Section */
#prices {
	background-color: #f5f5f5;
}

#prices p {
	margin-bottom: 100px;
}

#prices h3,
#prices h4 {
	background-color: #333;
	color: #fff;
	font-weight: bold;
	margin: 0;
}
#prices h3 {
	border-bottom: 1px solid #fff;
}
#prices h4 {
	font-size: 30px;
	padding-top: 10px;
}
#prices span {
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	font-size: 80px;
}
#prices h5 {
	background-color: #333;
	color: rgba(255, 255, 255, 0.5);
	font-style: italic;
	margin: 0;
	border-bottom: 6px solid #ff8b38;
}
#prices h6 {
	color: #fff;
	background-color: #ff8b38;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
	padding: 5px 0 11px 0;
}
#prices li {
	background-color: #fff;

	border-bottom: 1px solid #ededed;
}
#prices li,
#prices h3,
#prices h4,
#prices h5,
#prices li {
	padding: 18px;
}
#prices article.active {
	margin-top: -30px;
}

/* Reviews Section */
.reviews h2 ~ p {
	margin-bottom: 50px;
}
.reviews .row p {
	background-color: #f5f5f5;
	padding: 15px;
	max-width: 300px;
	position: relative;
}
.reviews .row p::after {
	top: 100%;
	left: 20%;
	border: solid transparent;
	content: ' ';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(245, 245, 245, 0);
	border-top-color: #f5f5f5;
	border-width: 15px;
	margin-left: -20px;
}
.reviews .customers {
	overflow: hidden;
	text-align: center;
	margin-top: 30px;
}
.reviews .customers::after {
	clear: both;
}
.reviews img {
	width: 70px;
	height: 70px;
	margin: 0 auto;
}
.reviews .left {
	float: left;
	width: 30%;
}
.reviews .right {
	float: right;
	text-align: left;
	width: 70%;
	margin: 10px auto;
}
.reviews h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 5px 0;
	color: #333;
}

/* Stylish Design */
.stylish {
	background: url('../images/news.jpg') no-repeat center center;
	background-size: cover;
	color: #fff;
}

.stylish h2 {
	color: #fff;
}
.stylish h2::after {
	background-color: #fff;
}

/* contact us Section */
.contact input,
.contact textarea {
	width: 100%;
}
.contact form,
.contact textarea {
	height: 203px;
}
.contact button {
	margin: 30px 0;
}

/* Footer */
.footer {
	background-color: #000;
	padding: 20px 0;
}
.footer .bottom-social {
	padding-bottom: 15px;
}
.footer i {
	color: #fff;
	font-size: 20px;
	padding-left: 20px;
}
.footer i:hover {
	color: #ff8b38;
}
/* Spinner */
.loading-overlay {
	background-color: #ff8b38;
	color: #fff;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
}

.spinner {
	width: 40px;
	height: 40px;
	background-color: #fff;
	margin: 180px auto;
	-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
	animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
	0% {
		-webkit-transform: perspective(120px);
	}
	50% {
		-webkit-transform: perspective(120px) rotateY(180deg);
	}
	100% {
		-webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
	}
}

@keyframes sk-rotateplane {
	0% {
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}
